<div style="background-color: black;" class= "col-12 login-pane row" align="center" >
  <div class="col-12" align="center">
      <h2 style="color: blanchedalmond;">Registrate </h2>
      
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label style="color: blanchedalmond;" for="inputNombre4">Nombre</label>
        <input type="nombre" class="form-control" id="inputNombre4" (keyup)="nombreKeyup($event.target.value)">
      </div>
      
        <div class="form-group col-md-6">
        <label for="inputSegundoNombre4" style="color: blanchedalmond;"> Segundo Nombre</label>
        <input type="SegundoNombre" class="form-control" id="inputSegundoNombre4"(keyup)="segundoNombreKeyup($event.target.value)">
      </div>
      <div class="form-row">
        <div class="form-group col-md-5">
              <label for="inputApellido4" style="color: blanchedalmond;">Apellido</label>
              <input type="apellido" class="form-control" id="inputApellido4"(keyup)="apellidoKeyup($event.target.value)">
            </div>
            
              <div class="form-group col-md-6">
              <label for="inputSegundoApellido4"style="color: blanchedalmond;">Segundo Apellido</label>
              <input type="SegundoApellido" class="form-control" id="inputSegundoApellido4"(keyup)="segundoApellidoKeyup($event.target.value)">
            </div>
          </div>
          <div class= "form-row">
              <div class="form-group col-md-5">
              <label for="inputRut4" style="color: blanchedalmond;">Rut</label>
              <input type="rut" class="form-control" id="inputRut4"(keyup)="rutKeyup($event.target.value)">
            </div>
              <div class="form-group col-md-6">
              <label for="inputEmail4" style="color: blanchedalmond;">Email</label>
              <input type="email" class="form-control" id="inputEmail4"  placeholder="example@example.com" (keyup)="emailKeyup($event.target.value)">
            </div>
          </div>
          <div class= "form-row"> 
              <div class="form-group col-md-6">
              <label for="inputContraseña4" style="color: blanchedalmond;">Contraseña</label>
              <input type="password" class="form-control" id="inputContraseña4" (keyup)="passKeyup($event.target.value)">
            </div>
              <div class="form-group col-md-6">
                <label for="inputConfirmarContraseña"style="color: blanchedalmond;">Confirmar Contraseña</label>
                <input type="password" class="form-control" id="inputConfirmar Contraseña" (keyup)="repassKeyup($event.target.value)">
              </div>
          </div>
          
            <div class="form-group col-md-12" align="center">
            <label for="inputState" style="color: blanchedalmond;">Seleccionar rol</label>
            <select id="inputState" class="form-control">
            <option selected style="color: rgb(17, 17, 16);">Seleccione...</option>
            <option style="color: rgb(17, 17, 16);">Docente</option>
            <option style="color: rgb(17, 17, 16);">Alumno</option>
            </select>             
          </div>
      </div>
          <button (click)="register()" class="btn btn-primary">Registrarse</button>
          <a [routerLink]="['/login']">&nbsp;&nbsp;Volver</a><br>
        </form>
  </div>

</div>