
<nav class="navbar navbar-dark bg-dark">
  <nav class="navbar navbar-expand-lg" >
      <a class="navbar-brand" href="#" >X Force</a>
      <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav" >
              <a class="nav-item nav-link" [routerLink]="['/home']">Inicio</a>
              <a class="nav-item nav-link" [routerLink]="['/perfil']">Perfil</a>
              <a class="nav-item nav-link active" [routerLink]="['/curso']">Curso <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" [routerLink]="['/notas']">Notas</a>
          </div>
      </div>
  </nav>
  <a class="nav-item nav-link" [routerLink]="['/login']" align = "left">Cerrar Sesion</a>
</nav>
<br><br>
<h2>Bienvenido</h2>
<h3>Aqui puedes crear un curso</h3>
<div class="col-md-3">
  <form>
    Nombre del curso
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Nombre" (keyup)="cursoKeyup($event.target.value)">
      </div>
    </div><br><br>
  </form>
</div>
<div class="col-md-6" >
  <form>
    Cantidad de alumnos
    <div class="row" >
      <div class="col-2">
        <input type="text" class="form-control" placeholder="N°">
      </div>
    </div><br><br>
  </form>
</div>
<div class="col-dm-3">
  <div class="row">
  </div>
</div>
<div class="col-md-4" >
  Materias
  <div class="ro" >
      <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
          <label class="form-check-label" for="inlineCheckbox1">FrontEnd</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2">Canvas</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
          <label class="form-check-label" for="inlineCheckbox3">PP</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option4">
          <label class="form-check-label" for="inlineCheckbox3">BackEnd</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option5">
          <label class="form-check-label" for="inlineCheckbox3">Base de datos</label>
        </div>
  </div><br><br>
</div>
<div class="col-sm-6"><button type="button" class="btn btn-dark">Agregar curso</button></div>
