
<app-barra></app-barra>

    <div class="row" style="margin: 0px; padding:0px;" style="background-color: black;">
     <div class="col-4"align="center">
          <h2 style="color: blanchedalmond;">Bienvenido amigo</h2>
            &nbsp;&nbsp;<img src="assets\img\user.svg"  width="250" height="150" alt="...">
      </div>  
         <div  class="col-md-12 home-pane">
            <a title="foto perfil" [routerLink]="['/ajustes']"><img class="img-user" src="assets\img\user.svg" alt="..."></a>
            <a title="Notas" [routerLink]="['/notas']"><img class="img-notas"  src="assets\img\check.svg" alt="not found notas"></a>
            <a title="Canvas" href="https://startlatam.instructure.com/login/canvas"><img class="img-canvas" src="assets\img\slack.svg" alt="not found canvas" ></a>
            <a title="Material de apoyo" href="https://mega.nz/#F!vdZgTQRS!XyVPiBH927h-4O-AZdgoTQ"><img class="img-material"  src="assets\img\book.svg"  alt="not found material"></a>
            <a title="Ajustes" [routerLink]="['/ajustes']"><img class="img-ajustes" src="assets\img\settings.svg" alt="not found ajustes"></a>
            <a title="Salir" href="login"><img class="img-salir" src="assets\img\exiit.svg" alt="not found salir"></a> 
     
          </div>
     </div>     

 