

<div class="row" style="margin: 0px; padding:0px;"> 
  <div class="col-3 login-pane" align="center">
    </div>
<div class="col-6" align="right">
<h2>Bienvenido (get.name)!!!!! <span class="badge badge-secondary"><img class="img-perfil" src="assets\img\perfil.png" width="100" height="100" alt="..."></span></h2>

<img class="img-icon-notas"  src="assets\img\materias2.png" align="left" width="120" height="120" alt="...">
<img class="img-icon-notas"  src="assets\img\ajustes2.png" align="center center" width="120" height="120" alt="...">
<img class="img-icon-notas"  src="assets\img\material de apoyo.png" align="right" width="120" height="120" alt="...">


