<app-barra></app-barra>

<div class="row" style="margin: 0px; padding:0px;"> 
  <div class="col-3 login-pane" align="center">
    </div>
<div class="col-6" align="right">
<h2>Bienvenido (get.name)!!!!! <span class="badge badge-secondary"><img class="img-perfil" src="assets\img\user.svg" width="100" height="100" alt="..."></span></h2>

<a title="Notas" href="notas"><img src="assets\img\check.svg" align="left center" 
  width="134" height="134" alt="...">
<a title="Ajustes" href="ajustes"><img src="assets\img\settings.svg" align="center center" 
  width="134" height="134" alt="ajustes2">
<a title="Canvas" href="https://startlatam.instructure.com/login/canvas"><img src="assets\img\slack.svg" align="center center" 
  width="134" height="134" alt="canvas" /></a>
<a title="Material de apoyo" href="https://www.udemy.com/"><img src="assets\img\book.svg" align="left center" 
  width="134" height="134" alt="...">
  <a title="Salir" href="login"><img src="assets\img\exiit.svg" align="center center" 
    width="134" height="134" alt="..." /></a>