<app-barra></app-barra>
<br>
<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Nombre del estudiante</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese el nombre aqui">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Seleccione el curso</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Seleccione la materia</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>POO</option>
      <option>FrontEnd</option>
      <option>BackEnd</option>
      <option>Base de datos</option>
      <option>Canvas</option>
    </select>
  </div>
</form>
<br>

<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
  <label class="form-check-label" for="inlineCheckbox1">Nota 1</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
  <label class="form-check-label" for="inlineCheckbox1">Nota 2</label>
</div>