<nav class="navbar navbar-dark bg-dark">
  <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">X Force</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" [routerLink]="['/home']">Inicio</a>
              <a class="nav-item nav-link" [routerLink]="['/perfil']">Perfil</a>
              <a class="nav-item nav-link" [routerLink]="['/curso']">Curso</a>
              <a class="nav-item nav-link active" [routerLink]="['/notas']">Notas <span class= "sr-only">(current)</span></a> 
          </div>
      </div>
  </nav>
</nav>
<br>
<div class="col-md-12">
  <form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Rut del estudiante</label>
      <input (keyup)="rutKeyup($event.target.value)" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese el nombre aqui">
    </div>
    
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary active">
        <input (click)="idPoo()" type="radio" name="options" id="option1" checked> POO
      </label>
      <label class="btn btn-secondary">
        <input (click)="idFE()" type="radio" name="options" id="option2"> FrontEnd
      </label>
      <label class="btn btn-secondary">
        <input (click)="idBE()" type="radio" name="options" id="option3"> BackEnd
      </label>
      <label class="btn btn-secondary">
        <input (click)="idBD()" type="radio" name="options" id="option2"> Base de datos
      </label>
      <label class="btn btn-secondary">
        <input (click)="idCanvas()" type="radio" name="options" id="option3"> canvas
      </label>
    </div>
    
  </form>
</div>
<br>
<!-- <div class="col-md-12"> -->
  <div class="col-md-5" style="float: left;">
    <br>
    <label for="notasDefinitivas"><h4>Notas</h4></label>
    <br>
    <br>
    <label for="notaUnoLabel">Nota 1</label>
    <input (keyup)="nota1Keyup($event.target.value)" type="notaUno" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese la nota aquí">
    <br>
    <label for="notaDosLabel">Nota 2</label>
    <input (keyup)="nota2Keyup($event.target.value)" type="notaDos" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese la nota aquí">
    <br>
    <label for="notaTresLabel">Nota 3</label>
    <input (keyup)="nota3Keyup($event.target.value)" type="notaTres" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese la nota aquí">
    <br>
    <label for="notaCuatroLabel">Nota 4</label>
    <input (keyup)="nota4Keyup($event.target.value)" type="notaCuatro" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese la nota aquí">
    <br>
    <br>
    <br>
    <label for="promedioMateria"><h4>Promedio notas</h4></label>
    <input type="notaUno" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese la nota aquí">
    <br>
  </div> 
  <div class="col-md-5" style="float: right;">
    <br>
    <label for="notasDefinitivas"><h4>Controles</h4></label>
    <br>
    <br>
    <label for="controlUnoLabel">Control 1</label>
    <input (keyup)="control1Keyup($event.target.value)" type="controlUno" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese la nota aquí">
    <br>
    <label for="controlDosLabel">Control 2</label>
    <input (keyup)="control2Keyup($event.target.value)" type="controlDos" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese la nota aquí">
    <br>
    <label for="controlTresLabel">Control 3</label>
    <input (keyup)="control3Keyup($event.target.value)" type="controlTres" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese la nota aquí">
    <br>
    <label for="controlCuatroLabel">Control 4</label>
    <input (keyup)="control4Keyup($event.target.value)" type="controlCuatro" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese la nota aquí">
    <br>
    <br>
    <br>
    <label for="promedioMateria"><h4>Promedio controles</h4></label>
    <input type="notaUno" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese la nota aquí">
     <br>
     <button (click)="guardarNotas()" class="btn btn-primary">Aceptar</button>
  </div>
<!--</div>-->