<app-barra></app-barra>
<div class="col-12 ajustes-pane row" >
    <form align="center">

        <h2 style="color: blanchedalmond;">Editar Datos</h2>
        <div class="form-row">
          <div class="form-group col-md-4">
          <label for="inputNombre4" style="color: blanchedalmond;">Nombre</label>
          <input type="nombre" class="form-control" id="inputNombre4">
          
        </div>
        <div class="form-group col-md-4">
            <label for="inputSegundoNombre4" style="color: blanchedalmond;">Segundo Nombre</label>
            <input type="segundoNombre" class="form-control" id="inputSegundoNombre4">
        </div>
        <div class="form-group col-md-4">
          <label for="inputApellido4" style="color: blanchedalmond;">Apellido</label>
          <input type="apellido" class="form-control" id="inputApellido4">
        </div>
        <div class="form-group col-md-4">
            <label for="inputSegundoApellido4" style="color: blanchedalmond;">Segundo Apellido</label>
            <input type="segundoApellido" class="form-control" id="inputSegundoApellido4">
        </div>
        
        <div class="form-group col-md-4">
          <label for="inputContraseña4" style="color: blanchedalmond;">Contraseña</label>
          <input type="password" class="form-control" id="inputContraseña4">
        </div>
        <div class="form-group col-md-4">
            <label for="inputConfirmarContraseña4" style="color: blanchedalmond;">Confirmar Contraseña</label>
            <input type="password" class="form-control" id="inputConfirmarContraseña4">
          </div>

        <div class="form-group col-md-4">
          <label for="inputEmail" style="color: blanchedalmond;">Email</label>
          <input type="email" class="form-control" id="inputEmail"  placeholder="example@example.com">
        </div>
      </div>
        <button type="submit" class="btn btn-primary">Aceptar</button>
        <a [routerLink]="['/home']">&nbsp;&nbsp;Salir</a><br>
      </form>
</div>
