<app-barra></app-barra>
<div class="col-8 ajustes-pane" align="center">
    <form>
        <div class="form-row">
          <div class="form-group col-md-4">
          <label for="inputNombre4">Nombre</label>
          <input type="nombre" class="form-control" id="inputNombre4">
        </div>
        <div class="form-group col-md-4">
          <label for="inputApellido4">Apellido</label>
          <input type="apellido" class="form-control" id="inputApellido4">
        </div>
        <div class="form-group col-md-4">
          <label for="inputContraseña4">Contraseña</label>
          <input type="contraseña" class="form-control" id="inputContraseña4">
        </div>
        <div class="form-group col-md-4">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control" id="inputEmail"  placeholder="example@example.com">
        </div>
        <div class="form-group col-md-4">
          <label for="inputAddress2">Address 2</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
          <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">Seleccionar Usuario</label>
          <select id="inputState" class="form-control">
          <option selected>Docente</option>
          <option>Alumno</option>
          </select>
        </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
        </div>
        
        <button type="submit" class="btn btn-primary">Aceptar</button>
      </form>
</div>
