<app-barra></app-barra>

<div class="jumbotron">
        <h1 class="display-4">Bienvenido!</h1>
        <p class="lead">Es necesario estar al tanto de todas las calificaciones que posees en el transcurso de este programa.</p>
        <hr class="my-4">
        <p>A continuacion podras utilizar la siguiente barra desplegable para seleccionar la asignatura que deseas observar.</p>
        </div>

<div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               De qué asignatura deseas mirar las notas correspondientes? Tu elección es ... 
             </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button" [routerLink]="['/table']">Back-end</button>
              <button class="dropdown-item" type="button" [routerLink]="['/table']">Front-end</button>
              <button class="dropdown-item" type="button" [routerLink]="['/table']">Canvas</button>
              <button class="dropdown-item" type="button" [routerLink]="['/table']">Base de Datos</button>
            </div>
        </div>