<div class = "todocontenido">
<h1>Para revisar tus notas, selecciona la asignatura que deseas observar!</h1>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Asignatura
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button">Materia 1</button>
      <button class="dropdown-item" type="button">Materia 2</button>
      <button class="dropdown-item" type="button">Materia 3</button>
      <button class="dropdown-item" type="button">Materia 4</button>
    </div>
  </div>
</div>