<app-barra></app-barra>
<div class="row" style="margin: 30px; padding:30px;">
    <div class="col-12 table-hover" >
        <table class="table table-bordered">
            <thead class= "thead-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Pruebas</th>
                    <th scope="col">Controles</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td></td>
                    <td></td>
                    
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td></td>
                    <td></td>
                    
            
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td></td>
                    <td></td>
                    
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td></td>
                    <td></td>
                
                </tr>           

                        <tr class="table-warning">
                                <th scope="row">Promedio:</th>
                                <td></td>
                                <td></td>
                        </tr>

                        <tr class="table-light">
                                <th scope="0"></th>
                                                               
                        </tr>

                        <tr class="table-info">
                                <th scope="2">Promedio final:</th>
                                <td></td>
                            
                        </tr>
                                    
                
            </tbody>
        </table>
    </div>
</div>
 
